.dico
{
    font-size: 100%;
}

.titre_lecon {
    font-family : Verdana, Arial, Helvetica, sans-serif;
    color : #000000;
    padding : 5px;
    margin: 0px;
    font-size: 24px;
}

h2.titre_lecon {
    box-shadow: none;
}

.sous-titre {
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}

.left {
    width:62%;
    min-width: 580px;
    float:left;
}

.right {
    float:left;
    width:35%;
    min-width:290px;
    padding-left:20px;
    margin-top: 15px;
}

.concordance{
    padding: 5px;
    vertical-align: text-top;
    width: 50%;
    line-height: 120%;
}

.reference{
    padding: 5px;
    border-top : 1px solid gray;
    font-size: 85%;
}

.aloneReference{
    padding: 5px;
    font-size: 95%;
}

#top {
    max-height:350px;
}

.top, .bottom {
    padding-left: 0;
}

.cobra-content {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 65%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

#audioplayer {
    padding-top: 1px;
    margin-right: 15px;
    float: left;
}

.textnavbuttons {
    margin-bottom: 5px;
    float: left;
}

.textnavbuttons .btn {
    height: 32px;
    margin-right: 5px;
    border-radius: 0;
}

.textnavbuttons .btn-default:hover {
    background-color: #494949;
    color: #fff;
}


#text {
    max-height: 350px;
    float:left;
    text-align:justify;
    color:#333;
    background-color: #FFFFFF;
    padding: 15px;
    overflow:auto;
    /*box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);*/
}

#card, #glossary {
    background-color : #fff;
    font-size: 0.9em;
    color: #333;
    padding:5px;
    float:left;
    width:33%;
    margin: 0 0 10px 20px;
    overflow: auto;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}

.glossaryAdd, .glossaryRemove {
    cursor: help;
}



#details{
    margin-top: 10px;
    width:65%;
    float:left;
    overflow:auto;
    padding:0;
}

#full_concordance {
    font-size: 0.9em;
    color: #333;
    padding:5px;
    display: none;
    float:left;
    width:33%;
    min-width:290px;
    margin-top: 13px;
    margin-left: 10px;
    Line-Height: 15pt;
}

.cardImage {
    max-height: 200px;
    max-width: 150px;
}

.lemma, .expression {
    cursor:help;
}

.entryDisplay {
    font-weight: bold;
}

.category {
    font-weight: normal;
}

.inflectedForms, .auxiliaries {
    font-weight: normal;
}

.cobralabel
{
    font-style: italic;
}

.fakeLink {
    text-decoration: underline;
    cursor:help;
}

#showCard {
    display: none;
}

.digestRow
{
    background-color: #FFF;

}

.glossaryIcon {
    padding: 4px 1px 1px 4px;
}

.hidden
{
    display:none;
}

.entryTable .superHeader th, .entryTable th.superHeader, .entryTable td.superHeader
{
    color: #333;
    background-color: #FFF;
    font-weight: normal;
    text-align: center;
}
.entryTable
{
    width: 100%;
    border-color:white;
    border-spacing:3px;
    border-collapse : separate;
}

.lexTable
{
    width: 100%;
}

.lexTable tbody td
{
    border-bottom: solid #DDDEBC 1px ;
}

.lexTable td, th
{
    margin:  1px;
    padding: 4px 10px;
    border: none;
}

.cc_source
{
    font-weight: bold;
    cursor: help;
    color: #333;
}

.box-content {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    padding: 15px;
    background-color: #fff;
}

.box-content table {
    background-color: #fff;
}

.lexTable .superHeader a
{
    color: white;
}

.lexTable th.headerY, .lexTable .headerY th,
.lexTable th.headerX, .lexTable .headerX th
{
    font-weight: normal;
}

.lexTable .headerX th,  .lexTable th.headerX
{
    background-color: #DDDEBC;
}

.lexTable tr th.toolbar
{
    background: white;
    font-weight: normal;
}

.lexTable tr.toolbar th.prev
{
    text-align:left;
    font-weight: normal;
}

.lexTable tr.toolbar th.title
{
    font-weight:bold;
    text-align:center;
}

.lexTable tr.toolbar th.next
{
    text-align:right;
    font-weight: normal;
}

.lexTable .listCell
{
    margin-top:-2px;
    margin-left:12px;
}

.lexTable li
{
    margin-top:0px;
    margin-bottom:0px;
}

.usuel_FUNDP {  background-color: #CCFFCC}
.usuel {    background-color: #99FF99}
.semi-technique {  background-color: #FFCC99}
.technique {  background-color: #FF9966}
.histoire_FUNDP {background-color:#CCFFFF}
.histoire {background-color: #99CCFF}
.informatique_FUNDP {background-color: #FFFF99}
.informatique {background-color: #FFFF66}
.sciences {background-color: #CCCCFF}
.sciences_FUNDP {background-color : #CC99CC}
.eco {background-color: #FF9999}
.eco_FUNDP {background-color: #FFCCCC}

.floatContainer
{
    float:left;
    background-color:#FFF;
    width:95%;
}

.iconDiv
{
    background-color:#FFF;
    float:left;
    width:3%;
    height:100%;
    padding-top:3px;
    margin-top:25px;
}

.description
{
    color: #333;
    background-color: #FFF;
    font-weight: normal;
    text-align: left;
}

.descList
{
    list-style-type: disc;
    margin : 5px;
}

.singletonList
{
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.clicked
{
    background-color: yellow;
}

.emphasize
{
    background-color: LightGrey;
}

.lemma:hover {
    color: #55ab26;
}

a img
{
    border:none;
    text-decoration: none;
}

p{
    line-height: 1.4em;
}
.commands > li
{
    color:#ffffff;
    background-color: LightGrey;
    display:inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0pt;
    padding:0pt;
}

#textlist th {
    text-align: center;
}

.discreet {
    color: #a9a9a9;
}

.hot {
    padding-left: 15px;
    background-image: url(../img/hot.png);
    background-repeat: no-repeat;
    background-position: center left;
}
