{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_cobra/cobratext


    Example context (json):
    {
      "title": "html snippet",
      "source": "Breaking News English - Free online ressources",
      "audiofile": "sourcefile.mp3",
      "textpart": [
        {
          "isparagraph": "1",
          "content": "html snippet"
        },
        {
          "isparagraph": "1",
          "content": "html snippet"
        }
      ],
      "userglossary": "1",
      "entries": [
        {
          "id": "34423",
          "lingentity": "34423",
          "entry": "age",
          "type": "lemma",
          "translations": "âge",
          "category": "n",
          "extrainfo": "ages",
          "fromThisText": "1"
        },
        {
        "id": "29345",
        "lingentity": "29345",
        "entry": "suggest",
        "type": "lemma",
        "translations": "proposer, suggérer",
        "category": "v",
        "extrainfo": "suggested, suggested",
        "fromThisText": "0"
        }
      ]
    }
}}
{{#warnings}}
    <div class="alert alert-warning" role="alert">
        <strong>{{#str}}warning{{/str}}! </strong> {{{message}}}
    </div>
{{/warnings}}
{{^warnings}}
{{#audiofile}}
    <div id="audioplayer">
        <audio controls="controls">
            <source src="{{audiofile}}">{{cmid}}
        </audio>
    </div>
    <div class="clearfix"></div>
{{/audiofile}}
<div class="cobra-container">
    <div class="cobra-column1">
        <div id="cobratext" class="cobra-content" lang="{{language}}">
            <h2 id="texttitle" class="text-title">{{{title}}}</h2>
            <div id="text" class="text" tabindex="0">
                {{#textpart}}
                    {{#issubtitle}}
                        <p><span class="cobra-subtitle">{{{content}}}</span> </p>
                    {{/issubtitle}}
                    {{#isparagraph}}
                        <p class="cobra-paragraph">{{{content}}}</p>
                    {{/isparagraph}}
                {{/textpart}}
                {{#source}}
                    <p class="text-source">{{{source}}}</p>
                {{/source}}
            </div>
        </div>
        <div id="details" class="box"></div>
        
    </div>
    
    <div id="bottom" class="cobra-column2">   
        <div id="full_concordance"></div>
        {{#userglossary}}
            <div id="myglossary" class="myglossary">
            {{> mod_cobra/intextglossary }}
            </div>
        {{/userglossary}}
    </div>
</div>
{{/warnings}}