{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    placeholder for template description. Ex: Page header.
}}
{{#warnings}}
    <div class="alert alert-warning" role="alert">
        <strong>{{#str}}warning{{/str}}! </strong> {{{message}}}
    </div>
{{/warnings}}
{{^warnings}}
{{#audiofile}}
    <div id="audioplayer">
        <audio controls="controls">
            <source src="{{{audio}}}">{{cmid}}
        </audio>
    </div>
    <div class="clearfix"></div>
{{/audiofile}}

<div id="cobratext" class="cobra-content">
    <h2 id="texttitle" class="text-title">{{{title}}}</h2>
    <div id="text" class="text">
        {{#textpart}}
            {{#issubtitle}}
                <p><span class="cobra-subtitle">{{{content}}}</span> </p>
            {{/issubtitle}}
            {{#isparagraph}}
                <p class="cobra-paragraph">{{{content}}}</p>
            {{/isparagraph}}
        {{/textpart}}
        {{#source}}
            <p class="text-source">{{{source}}}</p>
        {{/source}}
    </div>
</div>
{{#userglossary}}
    <div id="myglossary">
    {{> mod_cobra/intextglossary }}
    </div>
{{/userglossary}}
<div class="clearfix">
    &nbsp;
</div>

<div id="bottom" class="bottom">
    <div id="details" class="box"></div>
    <div id="full_concordance"></div>
</div>

<div class="clearfix">
    &nbsp;
</div>
{{/warnings}}