{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_cobra/entrydetails

    Example context (json):
    {
        "bilingual": "true",
        "data" : {
            "abbreviations": "",
            "article": "",
            "category": "nom commun",
            "concordances": [
                {
                    "source": "html snippet for source concordance.",
                    "target": "html snippet for target concordance.",
                    "type": "usuel_FUNDP"
                },
                {
                    "source": "html snippet for source concordance.",
                    "target": "html snippet for target concordance.",
                    "type": "semi-technique"
                }
            ],
            "entry": "people",
            "forms": [
                {
                    "type": "plur.",
                    "form": "peoples",
                    "first": "true",
                    "last": "true"
                }
            ]
        },
        "technicalinfo": {
            "concept": "23776",
            "entity": "28157",
            "inglossary": "false",
            "concordancescount": 6
        }
    }
}}
<div class="digest-row text-center" aria-describedby="digest-descr">
    <div id="digest-descr" class="sr-only">Informations sur le mot ou expression cliqué</div>
    <span class="hidden">{{technicalinfo.entity}}</span>
    {{#technicalinfo.inglossary}}
    <img class="inglossary" src="pix/inglossary.png" alt="Présent dans mon glossaire"  tabindex="0">
    {{/technicalinfo.inglossary}}
    {{^technicalinfo.inglossary}}
    <button class="glossaryaddbutton"><img class="glossaryadd" src="pix/glossaryadd.png" alt="Ajouter à mon glossaire" tabindex="0"></button>
    {{/technicalinfo.inglossary}}
    <span id="currentConstruction" class="hidden lemma">{{technicalinfo.concept}}</span>
    <span class="entryDisplay">{{data.entry}}{{#data.abbreviations}} ({{data.abbreviations}}){{/data.abbreviations}}</span>{{#data.article}}<span> ({{data.article}})</span>{{/data.article}}
    <strong>:&nbsp;</strong>
    <span class="category">{{data.category}}</span>

    {{#data.forms}}
        {{#first}}({{/first}}{{^first}}{{!
    }}, {{/first}}<span class="cobralabel">{{type}}:</span>
    <span class="inflectedForms">{{form}}</span>{{!
    }}{{#last}}){{/last}}
    {{/data.forms}}
</div>
{{#technicalinfo.hasannotations}}
    <div class="annotations">
        <ul class="descList">
            {{#data.translations}}
            <li><strong>{{#str}}translation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.translations}}</em></li>
            {{/data.translations}}
            {{#data.annotation}}
            <li><strong>{{#str}}annotation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.annotation}}</em></li>
            {{/data.annotation}}
            {{#data.trannotation}}
            <li><strong>{{#str}}annotation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.trannotation}}</em></li>
            {{/data.trannotation}}
            {{#data.definition}}
            <li><strong>{{#str}}definition, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.definition}}</em></li>
            {{/data.definition}}
            {{#data.trdefinition}}
            <li><strong>{{#str}}definition, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.trdefinition}}</em></li>
            {{/data.trdefinition}}
        </ul>
    </div>
    {{/technicalinfo.hasannotations}}
    {{^technicalinfo.hasannotations}}
        {{#data.translations}}
        <div>
            <ul class="singletonList">
                <li><strong>{{#str}}translation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.translations}}</em></li>
            </ul>
        </div>
        {{/data.translations}}
    {{/technicalinfo.hasannotations}}
    {{#concordancescount}}
    <table id="displayOnClic" class="entryTable">
        <caption  class="sr-only">Exemples dans le contexte de lecture</caption>
        <thead class="sr-only">
            <tr>
                <th>Langue source</th>
                <th>Traduction en français</th>
            <tr>
        </thead>
        <tbody>
    {{/concordancescount}}
    {{#data.concordances}}
        <tr>
            <td class="concordance {{type}}" {{^bilingual}}style="width:100%;" colspan="2" {{/bilingual}}>{{{source}}}</td>
            {{#bilingual}}
            <td class="concordance {{type}}">{{{target}}}</td>
            {{/bilingual}}
        </tr>   
    {{/data.concordances}}
    {{#concordancescount}}
        </tbody>
        </table>
    {{/concordancescount}}
    {{^data.concordances}}
    <div class="no-concordances">
        <img src="pix/concordances_no.png" style="padding-bottom:3px; padding-left: 1rem;" alt=""title="Pas de traductions en contexte">
        <span>
            {{#str}}noconcordances, mod_cobra{{/str}}
        </span>
    <div>
    {{/data.concordances}}
    {{#unillustratedtranslations}}
    <ul class="singletonList">
        <li><strong>{{#str}}othertranslations, mod_cobra{{/str}}&nbsp;:</strong>&nbsp;<em>{{unillustratedtranslations}}</em></li>
    </ul>
    {{/unillustratedtranslations}}
