{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_cobra/entrydetails

    Example context (json):
    {
        "bilingual": "true",
        "data" : {
            "abbreviations": "",
            "article": "",
            "category": "nom commun",
            "concordances": [
                {
                    "source": "<strong><a class="cc_source" name="44803">People</a></strong> are starving.",
                    "target": "Les <strong>gens</strong> meurent de faim.",
                    "type": "usuel_FUNDP"
                },
                {
                    "source": "She is a real <strong><a class="cc_source" name="246139">people's</a></strong> person.",
                    "target": "C'est vraiment une personne qui aime les <strong>gens</strong>.",
                    "type": "semi-technique"
                }
            ],
            "entry": "people",
            "forms": [
                {
                    "type": "plur.",
                    "form": "peoples",
                    "first": "true",
                    "last": "true",
                }
            ],
        },
        "technicalinfo": {
            "concept": "23776",
            "entity": "28157",
            "inglossary": "false",
            "concordancescount": 6
        }
    }
}}

<table id="displayOnClic" class="entryTable">

    <thead>
    <tr class="digestRow">
        <th class="glossaryIcon">
            <span id="currentlingentity" class="hidden">{{technicalinfo.entity}}</span>
            {{#technicalinfo.inglossary}}
            <img class="glossaryremove" src="pix/inglossary.png" title="Enlever de mon glossaire">
            {{/technicalinfo.inglossary}}
            {{^technicalinfo.inglossary}}
            <img class="glossaryadd" src="pix/glossaryadd.png" title="Ajouter à mon glossaire">
            {{/technicalinfo.inglossary}}
        </th>
        <th class="superHeader" colspan="2">
            <span id="currentConstruction" class="hidden lemma">{{technicalinfo.concept}}</span>
            <span class="entryDisplay">{{data.entry}}{{#data.abbreviations}} ({{data.abbreviations}}){{/data.abbreviations}}</span>{{#data.article}}<span> ({{data.article}})</span>{{/data.article}}
            <strong>:&nbsp;</strong>
            <span class="category">{{data.category}}</span>

            {{#data.forms}}
                {{#first}}({{/first}}{{^first}}{{!
            }}, {{/first}}<span class="cobralabel">{{type}}:</span>
            <span class="inflectedForms">{{form}}</span>{{!
            }}{{#last}}){{/last}}
            {{/data.forms}}
        </th>
    </tr>
    </thead>
    <tbody>

    {{#technicalinfo.hasannotations}}
    <tr id="displayOnClic_row1">
        <td>&nbsp;</td>
        <td colspan="2" class="description">
            <ul class="descList">
                {{#data.translations}}
                <li><strong>{{#str}}translation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.translations}}</em></li>
                {{/data.translations}}
                {{#data.annotation}}
                <li><strong>{{#str}}annotation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.annotation}}</em></li>
                {{/data.annotation}}
                {{#data.trannotation}}
                <li><strong>{{#str}}annotation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.trannotation}}</em></li>
                {{/data.trannotation}}
                {{#data.definition}}
                <li><strong>{{#str}}definition, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.definition}}</em></li>
                {{/data.definition}}
                {{#data.trdefinition}}
                <li><strong>{{#str}}definition, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.trdefinition}}</em></li>
                {{/data.trdefinition}}
            </ul>
        </td>
    </tr>
    {{/technicalinfo.hasannotations}}
    {{^technicalinfo.hasannotations}}
        {{#data.translations}}
        <tr id="displayOnClic_row1">
            <td>&nbsp;</td>
            <td colspan="2" class="description">
                <ul class="singletonList">
                    <li><strong>{{#str}}translation, mod_cobra{{/str}}:</strong>&nbsp;<em>{{data.translations}}</em></li>
                </ul>
            </td>
        </tr>
        {{/data.translations}}
    {{/technicalinfo.hasannotations}}
    {{#technicalinfo.concordancescount}}
    <tr id="displayOnClic_row2">
        <td style="vertical-align:top;  padding-left:3px; " rowspan="{{technicalinfo.concordancescount}}">
            <img src="pix/corpus.jpg" style="padding-bottom:3px;" title="Traduction(s) en contexte"></td>
        {{/technicalinfo.concordancescount}}
        {{#data.concordances}}
        {{#first}}
        <td class="concordance {{type}}" {{^bilingual}}style="width:100%;" colspan="2" {{/bilingual}}>{{{source}}}</td>
        {{#bilingual}}
        <td style="" class="concordance {{type}}">{{{target}}}</td>
        {{/bilingual}}
    </tr>
    {{/first}}
    {{^first}}
    <tr id="displayOnClic_row{{index}}">
        <td {{^bilingual}}style="width:100%;" colspan="2"{{/bilingual}} class="concordance {{type}}">{{{source}}}</td>
        {{#bilingual}}
        <td style="" class="concordance {{type}}">{{{target}}}</td>
        {{/bilingual}}
    </tr>
    {{/first}}

    {{/data.concordances}}

    {{^data.concordances}}
    <tr>
        <td style="padding-left:3px; width:2rem;">
            <img src="pix/concordances_no.png" style="padding-bottom:3px;" title="Pas de traductions en contexte">
        </td>
        <td colspan="2">
            <ul class="singletonList">
                <li class="no-concordances">Pas de traductions en contexte</li>
            </ul>
        </td>
    </tr>
    {{/data.concordances}}
    {{#unillustratedtranslations}}
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" class="description">
            <ul class="singletonList">
                <li><strong>{{#str}}othertranslations, mod_cobra{{/str}}&nbsp;:</strong>&nbsp;<em>{{unillustratedtranslations}}</em></li>
            </ul>
        </td>
    </tr>
    {{/unillustratedtranslations}}

    </tbody>
</table>
