{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_hackfest/index_page

    Starting point for an awesome template.

}}
<div id="glossary" >
    <a class="righty" title="{{#str}}showfullglossary, mod_cobra{{/str}}" href="myglossary.php?id={{course}}">{{#str}}myglossary, mod_cobra{{/str}}</a>
    <table class="table table-condensed" width="100%">
        <thead>

        <tr class="headerX">
            <th>&nbsp;</th>
            <th>{{#str}}entry, mod_cobra{{/str}}</th>

            <th>{{#str}}categoryshrinked, mod_cobra{{/str}}</th>

            <th>{{#str}}translation, mod_cobra{{/str}}</th>

            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {{#entries}}
            <tr {{^fromThisText}}class="discreet"{{/fromThisText}}>
                <td class="{{#new}}hotentry{{/new}}">
                    &nbsp;
                </td>
                <td>{{entry}}</td>
                <td>{{category}}</td>
                <td style="max-width:180px;">{{translations}}</td>
                <td class="glossaryIcon inTextGlossary">
                    <span id="currentLingEntity" class="hidden">{{lingentity}}</span>
                    <img class=                                                                                   "glossaryremove" src="pix/glossaryremove.png" title="{{#str}}removefrommyglossary, cobra{{/str}}"></td>
            </tr>
        {{/entries}}
        {{^entries}}
            <td colspan="5" style="text-align:center;">{{#str}}glossaryemptyfortext, mod_cobra{{/str}}</td>
        {{/entries}}
        </tbody>
    </table>
    <p>{{#str}}entriesfromothertext, mod_cobra{{/str}}</p>
</div>

