{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_cobra/intext_glossary

    Example context (json):
    {
        "entries": [
            {
                "id": "34423",
                "lingentity": "34423",
                "entry": "age",
                "type": "lemma",
                "translations": "âge",
                "category": "n",
                "extrainfo": "ages",
                "fromThisText": "1"
            },
            {
                "id": "29345",
                "lingentity": "29345",
                "entry": "suggest",
                "type": "lemma",
                "translations": "proposer, suggérer",
                "category": "v",
                "extrainfo": "suggested, suggested",
                "fromThisText": "0"
            }
        ]
    }

}}
<div id="glossary" tabindex="0">
    <a class="righty" title="{{#str}}showfullglossary, mod_cobra{{/str}}" href="myglossary.php?id={{course}}">{{#str}}myglossary, mod_cobra{{/str}}</a>
    <table class="table table-condensed" tabindex="0">
    <caption class="sr-only">Entrées de mon glossaire présentes dans ce texte</caption>
        <thead>

        <tr class="headerX">
            <th><span class="sr-only" scope="col">Eléments ajoutés lors de cette session</span></th>
            <th scope="col">{{#str}}entry, mod_cobra{{/str}}</th>

            <th scope="col">{{#str}}categoryshrinked, mod_cobra{{/str}}</th>

            <th scope="col">{{#str}}translation, mod_cobra{{/str}}</th>

            <th scope="col" class="text-center">{{#str}}delete{{/str}}</th>
        </tr>
        </thead>

        <tbody>
        {{#entries}}
            <tr {{^fromThisText}}class="discreet"{{/fromThisText}}>
                <td class="{{#new}}hotentry{{/new}}">
                    <span class="sr-only">Cette entrée a été ajoutée pendant cette session</span>
                </td>
                <td>{{entry}}</td>
                <td>{{category}}</td>
                <td style="max-width:180px;">{{translations}}</td>
                <td class="glossaryIcon inTextGlossary">
                    <span class="hidden">{{lingentity}}</span>
                    <button class="glossaryremovebutton"><img class="glossaryremove" src="pix/glossaryremove.png" alt="Supprimer {{entry}} de mon glossaire" title="{{#str}}removefrommyglossary, cobra{{/str}}"></button></td>
            </tr>
        {{/entries}}
        {{^entries}}
            <tr>
                <td colspan="5" style="text-align:center;">{{#str}}glossaryemptyfortext, mod_cobra{{/str}}</td>
            </tr>
        {{/entries}}
        </tbody>
    </table>
    <p>{{#str}}entriesfromothertext, mod_cobra{{/str}}</p>
</div>

